<div class="wrapper-content container-fluid">
    <div class="ebox">
        <h2 class="m-t-nil">Sample Header</h2>
        <p>Sample content for charts page.</p>
        <div class="demo-chart-container">

            <canvas aria-label="Bar chart showing file type totals"
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [colors]="barChartColors"
            chartType="bar">
    
            <table>
                <thead>
                    <tr>
                        <th>File Type</th>
                        <th>Number of Files</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let label of barChartLabels; let idx = index">
                        <td>{{label}}</td>
                        <td>{{barChartData[0].data[idx]}}</td>
                    </tr>
                </tbody>
            </table>
    
        </canvas>
        
        </div>
    </div>
</div>
