<div class="ux-side-menu" [class.open]="open" [class.minimized]="!open">

    <div class="ux-side-menu-content">

        <ux-navigation [items]="navigation" [tree]="false" [autoCollapse]="true">
        </ux-navigation>

        <button type="button"
            attr.aria-label="{{open ? 'Collapse' : 'Expand'}} the side navigation panel."
            [attr.aria-expanded]="open" class="ux-side-menu-minimize-button" (click)="open = !open">
            <span class="hpe-icon hpe-previous"></span>
        </button>

    </div>

</div>
